

@model List<Snus>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="main" style="background: white">
    <h1 class="heading">Rank The Snus</h1>
    <div class="rankMain">
        <div class="leftRank">
            @foreach(var item in Model)
            {
                <div class="list" draggable="true"> <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Pic))" width="300"/> </div>
            }
        </div>
        <div class="rightRank"></div>
    </div>
</div>
